name: Release Desktop App

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  create-release:
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: 'macos-13'
            target: 'x86_64-apple-darwin'
          - platform: 'macos-latest'
            target: 'aarch64-apple-darwin'

          - platform: 'windows-latest'
            target: 'x86_64-pc-windows-msvc'
          - platform: 'windows-latest'
            target: 'aarch64-pc-windows-msvc'

          - platform: 'ubuntu-22.04'
            target: 'x86_64-unknown-linux-gnu'

#          - platform: 'ubuntu-24.04-arm'
#            target: 'aarch64-unknown-linux-gnu'

    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up pnpm
        uses: pnpm/action-setup@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Install Rust stable
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Install Linux dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev build-essential curl wget file libssl-dev libgtk-3-dev libayatana-appindicator3-dev librsvg2-dev

      - name: Install frontend dependencies
        run: pnpm install --frozen-lockfile

      - name: Build Web App
        run: pnpm build

      - name: Build Tauri App and Create Release
        uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tagName: ${{ github.ref_name }}
          releaseName: 'Tada ${{ github.ref_name }}'
          releaseBody: 'See the assets below for the latest version of the Tada desktop app.'
          releaseDraft: false
          prerelease: false
          args: --target ${{ matrix.target }}